<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">{{getCategoryName()}}</h4>
                        <p class="card-category">Konaklayan Misafirlerimizin Listesi</p>
                    </div>
                    <div class="card-content table-responsive table-full-width">
                        <table class="table">
                            <thead class="text-danger">
                                <th>Durumu</th>
                                <th>Oda No</th>
                                <th>Misafirin Adı Soyadı</th>
                                <th>Gecelik Ücret</th>
                            </thead>

                            <tbody>
                                <tr *ngFor="let g of getGuests()">
                                    <td [class.text-success]="g.durumu==true" [class.text-danger]="g.durumu==false">
                                        Konaklama
                                    </td>
                                    <td>{{g.odano}}</td>
                                    <td>{{g.adi}} {{g.soyadi}}</td>
                                    <td class="text-danger">{{g.ucret}}₺</td>
                                    <td><button mat-raised-button class="btn btn-info">Düzenle</button>
                                        <button mat-raised-button class="btn btn-danger">Sil</button>
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>