<div class="col-md-6">
    <mat-form-field class="example-full-width">
        <input matInput placeholder="KDV %1" type="number" [(ngModel)]="kdv" name="kdv" disabled>
    </mat-form-field>
</div>
<div class="col-md-6">
    <form (ngSubmit)="handleSubmit($event)">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Fiyat*" type="number" [(ngModel)]="fiyat" name="fiyat"
                (keyup)="handleKeyUp($event)">
        </mat-form-field>
        <div class="col-md-6">

            <button mat-raised-button type="submit" class="btn btn-danger pull-right"
                        (click)="kdvHesapla();">Tamam</button>
        
        </div>
    </form>
</div>

<div id="print-section" *ngIf="fatura">

    <!-- TABLO BAŞLANGICI -->

    <table border=0>
        <tr>

            <td class="ustBosluk"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>

        </tr>
        <tr>

            <td class="unvan">{{fatura.unvan}}</td>
            <td class="ortaBosluk"></td>
            <td></td>
            <td></td>
            <td class="tarih" align="bottom">{{tarih | date:'dd.MM.y'}}</td>

        </tr>
        <tr>

            <td class="vergiBilgi">{{fatura.vergiDairesi}} V.D. : {{fatura.vergiNo}}</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>

            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>

            <th class="konaklama">KONAKLAMA ÜCRETİ</th>
            <td></td>
            <td></td>
            <td></td>
            <td class="kdvsiz">{{kdvHaricVrg}}₺</td>
        </tr>
        <tr>

            <td class="ortaYukseklik"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>

        </tr>
        <tr>

            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>

        </tr>
        <tr>

            <th class="unvan">{{fiyat | yaziIleFiyat}}</th>
            <td></td>
            <td></td>
            <td></td>
            <td class="kdvToplam">{{kdvFiyatVrg}}₺ <br>{{sonuc}}₺ </td>
        </tr>
    </table>

    <!-- TABLO BİTİŞİ -->
</div>

<!--
     2)- Add the directive name in your button (ngxPrint),
     3)- Affect your ID to printSectionId
   -->
<button class="btn btn-primary pull-right" [useExistingCss]="true" printSectionId="print-section" ngxPrint>YAZDIR</button>