<div class="main-content">
    <div class="container-fluid">

        <div class="col-lg-6 col-md-12">
            <div class="card">
                <div class="card-header card-header-tabs card-header-primary">
                    <div class="nav-tabs-navigation">
                        <div class="nav-tabs-wrapper">
                            <span class="nav-tabs-title"></span>
                            <ul class="nav nav-tabs" data-tabs="tabs">
                                <li class="nav-item">
                                    <a mat-button class="nav-link active" href="#rezervasyon" data-toggle="tab">
                                        <i class="material-icons">room_service</i> Rezervasyon
                                        <div class="ripple-container"></div>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a mat-button class="nav-link" href="#ekle" data-toggle="tab">
                                        <i class="material-icons">person_add</i> Ekle
                                        <div class="ripple-container"></div>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a mat-button class="nav-link" href="#bul" data-toggle="tab">
                                        <i class="material-icons">search</i> Bul
                                        <div class="ripple-container"></div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="tab-content">
                        <div class="tab-pane active" id="rezervasyon">
                            <table class="table">
                                <thead class="text-primary">
                                    <th>No</th>
                                    <th>Oda</th>
                                    <th>Adı Soyadı</th>
                                    <th>Tc Kimlik No</th>
                                    <th>Hes Kodu</th>
                                    <th>Gecelik Ücret</th>
                                </thead>

                                <tbody>
                                    <tr *ngFor="let g of guests">
                                        <td>{{g.guestId}}</td>
                                        <td>{{g.odaNo}}</td>
                                        <td>{{g.adi}} {{g.soyadi}}</td>
                                        <td>{{g.tcKimlikNo}}</td>
                                        <td>{{g.hesKodu}}</td>
                                        <td class="text-primary">{{g.ucret}}₺</td>
                                        <!-- <td><button mat-raised-button class="btn btn-info" (click)="onSelectGuest(g)">Düzenle</button></td> -->
                                        <td><button mat-raised-button class="btn btn-info" data-toggle="modal"
                                                data-target="#gModal" (click)="onSelectGuest(g)">Düzenle</button>
                                        </td>

                                        <div class="modal fade" id="gModal" tabindex="-1" role="dialog"
                                            aria-labelledby="gModalLabel" aria-hidden="true">
                                            <div class="modal-dialog modal-lg" role="document">

                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="gModalLabel">Düzenle</h5>
                                                        <!-- <button type="button" class="btn btn-default"
                                       data-dismiss="modal">Close</button> -->


                                                        <button type="button" class="btn btn-danger"
                                                            data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <guest-details [guest]="selectedGuest" [guests]="guests">
                                                        </guest-details>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>



                                        <td><button mat-raised-button class="btn btn-danger"
                                                (click)="deleteGuest(g)">Sil</button></td>

                                        <td><button mat-raised-button class="btn btn-danger"
                                                (click)="addItemToRezervasyon(g)">Ekle</button></td>



                                    </tr>
                                </tbody>
                            </table>
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox" value="" checked>
                                                    <span class="form-check-sign">
                                                        <span class="check"></span>
                                                    </span>
                                                </label>
                                            </div>
                                        </td>
                                        <td>Sign contract for "What are conference organizers afraid of?"</td>
                                        <td class="td-actions text-right">
                                            <button mat-raised-button type="button" matTooltip="Edit Task"
                                                [matTooltipPosition]="'above'"
                                                class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                <i class="material-icons">edit</i>
                                            </button>
                                            <button mat-raised-button type="button" matTooltip="Remove"
                                                [matTooltipPosition]="'above'"
                                                class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                <i class="material-icons">close</i>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox" value="">
                                                    <span class="form-check-sign">
                                                        <span class="check"></span>
                                                    </span>
                                                </label>
                                            </div>
                                        </td>
                                        <td>Lines From Great Russian Literature? Or E-mails From My Boss?</td>
                                        <td class="td-actions text-right">
                                            <button mat-raised-button type="button" matTooltip="Edit Task"
                                                [matTooltipPosition]="'above'"
                                                class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                <i class="material-icons">edit</i>
                                            </button>
                                            <button mat-raised-button type="button" matTooltip="Remove"
                                                [matTooltipPosition]="'above'"
                                                class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                <i class="material-icons">close</i>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox" value="">
                                                    <span class="form-check-sign">
                                                        <span class="check"></span>
                                                    </span>
                                                </label>
                                            </div>
                                        </td>
                                        <td>Flooded: One year later, assessing what was lost and what was found when a
                                            ravaging rain swept through metro Detroit
                                        </td>
                                        <td class="td-actions text-right">
                                            <button mat-raised-button type="button" matTooltip="Edit Task"
                                                [matTooltipPosition]="'above'"
                                                class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                <i class="material-icons">edit</i>
                                            </button>
                                            <button mat-raised-button type="button" matTooltip="Remove"
                                                [matTooltipPosition]="'above'"
                                                class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                <i class="material-icons">close</i>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox" value="" checked>
                                                    <span class="form-check-sign">
                                                        <span class="check"></span>
                                                    </span>
                                                </label>
                                            </div>
                                        </td>
                                        <td>Create 4 Invisible User Experiences you Never Knew About</td>
                                        <td class="td-actions text-right">
                                            <button mat-raised-button type="button" matTooltip="Edit Task"
                                                [matTooltipPosition]="'above'"
                                                class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                <i class="material-icons">edit</i>
                                            </button>
                                            <button mat-raised-button type="button" matTooltip="Remove"
                                                [matTooltipPosition]="'above'"
                                                class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                <i class="material-icons">close</i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane" id="ekle">
                            <div class="card-body">
                                <form>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <mat-form-field class="example-full-width">
                                                <input #adi matInput placeholder="Adı*" type="text" name="adi">
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-6">
                                            <mat-form-field class="example-full-width">
                                                <input #soyadi matInput placeholder="Soyadı*" type="text" name="soyadi">
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <mat-form-field class="example-full-width">
                                                <input #ciltNo matInput placeholder="Cilt No*" type="text"
                                                    name="ciltNo">
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-6">
                                            <mat-form-field class="example-full-width">
                                                <input #notlar matInput placeholder="Notlar*" type="text" name="notlar">
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <mat-form-field class="example-full-width">
                                                <input #tcKimlikNo matInput placeholder="TC Kimlik No" type="text"
                                                    name="tcKimlikNo">
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <mat-form-field class="example-full-width">
                                                <input #hesKodu matInput placeholder="HES Kodu" type="text"
                                                    name="hesKodu">
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-4">
                                            <mat-form-field class="example-full-width">
                                                <input #dogumYeri matInput placeholder="Doğum Yeri" type="text"
                                                    name="dogumYeri">
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-4">
                                            <mat-form-field class="example-full-width">
                                                <input #odaNo matInput placeholder="Oda No" type="text" name="odaNo">
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-4">
                                            <mat-form-field class="example-full-width">
                                                <input #ucret matInput placeholder="Ücret" type="text" name="ucret">
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <button mat-raised-button type="submit" class="btn btn-danger pull-right"
                                        (click)="addGuest(adi.value, soyadi.value, ciltNo.value, tcKimlikNo.value, hesKodu.value, notlar.value, dogumYeri.value, odaNo.value, ucret.value); adi.value=''; soyadi.value=''; ciltNo.value=''; tcKimlikNo.value=''; hesKodu.value=''; notlar.value=''; dogumYeri.value=''; odaNo.value='';ucret.value='';">Kaydet</button>
                                    <div class="clearfix"></div>
                                </form>
                            </div>
                        </div>
                        <div class="tab-pane" id="bul">
                            <label for="search" class="col-md-8"
                                style="text-align: left; font-size: 1.1em;">Arama</label>
                            <div class="col-md-8">
                                <input type="text" [(ngModel)]="searchValue" class="form-control" id="search" />
                            </div>
                            <table class="table">
                                <thead class="text-danger">
                                    <th>No</th>
                                    <th>Oda</th>
                                    <th>Adı Soyadı</th>
                                    <th>Tc Kimlik No</th>
                                    <th>Hes Kodu</th>
                                    <th>Gecelik Ücret</th>
                                </thead>

                                <tbody>
                                    <tr *ngFor="let g of guests | searchFilter:searchValue">
                                        <td>{{g.guestId}}</td>
                                        <td>{{g.odaNo}}</td>
                                        <td>{{g.adi}} {{g.soyadi}}</td>
                                        <td>{{g.tcKimlikNo}}</td>
                                        <td>{{g.hesKodu}}</td>
                                        <td class="text-danger">{{g.ucret}}₺</td>
                                        <!-- <td><button mat-raised-button class="btn btn-info" (click)="onSelectGuest(g)">Düzenle</button></td> -->
                                        <td><button mat-raised-button class="btn btn-info" data-toggle="modal"
                                                data-target="#gModal" (click)="onSelectGuest(g)">Düzenle</button>
                                        </td>

                                        <div class="modal fade" id="gModal" tabindex="-1" role="dialog"
                                            aria-labelledby="gModalLabel" aria-hidden="true">
                                            <div class="modal-dialog modal-lg" role="document">

                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="gModalLabel">Düzenle</h5>
                                                        <!-- <button type="button" class="btn btn-default"
                                       data-dismiss="modal">Close</button> -->


                                                        <button type="button" class="btn btn-danger"
                                                            data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <guest-details [guest]="selectedGuest" [guests]="guests">
                                                        </guest-details>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>



                                        <td><button mat-raised-button class="btn btn-danger"
                                                (click)="deleteGuest(g)">Sil</button></td>

                                        <td><button mat-raised-button class="btn btn-danger"
                                                (click)="addItemToRezervasyon(g)">Ekle</button></td>



                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>