<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Düzenle </h4>
                        <p class="card-category">Düzenlenecek öğeler listesi</p>
                    </div>
                    <div *ngIf="guest" class="card-body">
                        <form>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input [value]="guest.adi" #adi matInput placeholder="Adı*" type="text" name="adi">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input [value]="guest.soyadi" #soyadi matInput placeholder="Soyadı*" type="text" name="soyadi">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input [value]="guest.ciltNo" #ciltNo matInput placeholder="Cilt No*" type="text" name="ciltNo">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input [value]="guest.notlar" #notlar matInput placeholder="Notlar*" type="text" name="notlar">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width">
                                        <input [value]="guest.tcKimlikNo" #tcKimlikNo matInput placeholder="TC Kimlik No" type="text"
                                            name="tcKimlikNo">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input [value]="guest.hesKodu" #hesKodu matInput placeholder="HES Kodu" type="text" name="hesKodu">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input [value]="guest.dogumYeri" #dogumYeri matInput placeholder="Doğum Yeri" type="text"
                                            name="dogumYeri">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input [value]="guest.odaNo" #odaNo matInput placeholder="Oda No" type="text" name="odaNo">
                                    </mat-form-field>
                                </div>
                            </div>

                            <button mat-raised-button type="submit" class="btn btn-danger pull-right"
                                (click)="addGuest(adi.value, soyadi.value, ciltNo.value, tcKimlikNo.value, hesKodu.value, notlar.value, dogumYeri.value, odaNo.value); adi.value=''; soyadi.value=''; ciltNo.value=''; tcKimlikNo.value=''; hesKodu.value=''; notlar.value=''; dogumYeri.value=''; odaNo.value='';">Kaydet</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>